# Virtual envs
.venv/
venv/
env/
ENV/
**/__pycache__/

# Python
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
.python-version

# Entornos/variables
.env
.env.*
.envrc

# Logs / cache / tests
*.log
logs/
*.sqlite3
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/
.hypothesis/
.mypy_cache/
.ruff_cache/

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (si usas tooling JS)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
